@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 8 10% 6%;
  --foreground: 0 0% 98%;
}

html, body {
  height: 100%;
}

body {
  color: hsl(var(--foreground));
  background: radial-gradient(1000px 600px at 20% -10%, rgba(86,127,255,0.15), transparent 50%),
              radial-gradient(800px 500px at 100% 10%, rgba(46,72,208,0.2), transparent 40%),
              hsl(var(--background));
}